body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    text-align: center;
}

.table .row .cell {
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border: 1px solid #333;
    margin: -1px 0 0 -1px;
}

.table .row .green {
    background-color: green;
}

.table .row .white {
    background-color: white;
}

.P, .B {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}

.P {
    background-color: white;
}

.B {
    background-color: black;
}