body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    text-align: center;
}

.cell {
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border: 1px solid #333;
    margin: -1px 0 0 -1px;
}

.cell:nth-child(even) {
    background-color: #ddd;
}

.cell:nth-child(odd) {
    background-color: #fff;
}
